[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
StartupWMClass=Google-chrome-stable
Exec=/usr/bin/google-chrome-stable --enable-monitor-profile %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito
X-XFCE-Source=file:///usr/share/applications/google-chrome.desktop

Path=
StartupNotify=false

[NewWindow Shortcut Group]
Name=New Window
StartupWMClass=Google-chrome-stable
Exec=/usr/bin/google-chrome-stable
TargetEnvironment=Unity

[NewIncognito Shortcut Group]
Name=New Incognito Window
StartupWMClass=Google-chrome-stable
Exec=/usr/bin/google-chrome-stable --incognito
TargetEnvironment=Unity
