[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chri/Desktop/RegiStax 6.desktop]
row=11
col=13

[/home/chri/Desktop/chrome-aokijcnhdifpmcadcjopeodeiimlklgm-Default.desktop]
row=0
col=3

[/home/chri/Desktop/chrome-obbmkcinjjhopbhodfhlampibkjakmhf-Default.desktop]
row=2
col=4

[/home/chri/Desktop/Oracle VM VirtualBox.desktop]
row=0
col=6

[/home/chri/Desktop/Gmail.desktop]
row=1
col=3

[/home/chri/Desktop/chrome-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=0
col=4

[/home/chri/Desktop/Skychart.desktop]
row=0
col=7

[/home/chri/Desktop/steam.desktop]
row=11
col=15

[/home/chri/Desktop/DokicamPlayer.desktop]
row=11
col=14

[/home/chri/Desktop/chrome-mdpkiolbdkhdjpekfbkbmhigcaggjagi-Default.desktop]
row=2
col=3

[/home/chri/Desktop/DeepSkyStacker (64 bit).desktop]
row=12
col=13

[/home/chri/Desktop/Aladin.desktop]
row=1
col=7

[/home/chri/Desktop/chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default.desktop]
row=1
col=4

[/home/chri/Desktop/DeepSkyStacker Live (64 bit).desktop]
row=12
col=14

[/home/chri/Desktop/ASIStudio.desktop]
row=2
col=7

[/home/chri/Desktop/ASTAP.desktop]
row=2
col=6

[/home/chri/Desktop/Blender.desktop]
row=1
col=6

[/home/chri/Desktop/WinJUPOS 10.3.9.desktop]
row=12
col=15

[/home/chri/Desktop/ph]
row=0
col=1

[959e22a2-0a49-4e83-84f6-8a10fe34ee20]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/chri]
row=1
col=0

