[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chri/Desktop/RegiStax 6.desktop]
row=3
col=0

[/home/chri/Desktop/RegiStax 6.lnk]
row=4
col=0

[/home/chri/Desktop/WinJUPOS 10.3.3.desktop]
row=8
col=0

[/home/chri/Desktop/WinJUPOS 10.2.3.desktop]
row=6
col=0

[/home/chri/Desktop/Gmail.desktop]
row=5
col=0

[/home/chri/Desktop/DokicamPlayer.desktop]
row=9
col=0

[/home/chri/Desktop/ph]
row=7
col=0

[NIKON D5100]
row=10
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/chri]
row=2
col=0

